.slide {
    background-color: black;
}

h3 {
    font-size: 50px;
    font-weight: bold;
}

p {
    font-size: 20px;
    font-weight: bold;
}

.carousel-image {
    object-fit: cover !important; /* Maintain aspect ratio and cover container */
    height: 100%; /* Set height to match carousel item */
}

.title {
    font-size: 80px;
    text-align: center;
}

.clients {
    width: 180px;
    height: 100px;
    /* position: relative; */
    font-size: 50px;
    margin-bottom: 15px;
}



